@use './variables';

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin button-hover($color, $b-radius) {
  background-color: $color;
  border-radius: $b-radius;
  transition: background-color 0.5s, border-radius 0.5s;
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
// Taken from https://sass-guidelin.es/#responsive-web-design-and-breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get(variables.$breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}