@use '../0_abstracts/' as *;

.header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../assets/img/mainpizza.jpg);
    @include size(100%, 100vh);
    background-size: cover;
    background-attachment: fixed;
}