@use '../0_abstracts/' as *;

.header {
    height: 100vh; // Fallback for older browsers
    @include size(100%, 100%);
}

.background {
    @include size(100%, 100vh);
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../assets/img/mainpizza.jpg);
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
}

#root {
    height: 100%;
}